<%- include("partials/header.ejs") %>
<h2  class="rounded border-0 submit2 align-self-center p-5 m-5">Your score is : <%= content.score %></h2>
<a href="/" class="d-flex ">
    <button type="submit" class="rounded border-0 submit2 align-self-center p-5 m-5">RESTART</button>
</a>


</body>
</html>
