<%- include("partials/header.ejs") %>
    <div class="container  d-flex flex-column align-items-center justify-content-around p-4">
      <p class="align-self-start">Total Score : <%=content.count%></p>
       <h2><%=content.country %> </h2>
       <form action="/submit" method="post" class="form justify-content-around gap-5" >
       <input type="text" name="guess" class="p-2 rounded text-center mb-8" placeholder="Enter the capital" required>
       <button type="submit" class="roudned border-0 submit">SUBMIT</button>
    </form>

    </div>
 
</body>
</html>
