<%- include("partials/header.ejs")%>

<fieldset>
  
      <form action="/create" method="post" class="form">
       
        <input type="text" name="postTitle" id="postTitle" placeholder="Write a title">
    
        <textarea name="blogPost" placeholder="Write your blog post"></textarea>
        <input type="submit" value="create" />
      </form>
    

</fieldset>

<%- include("partials/footer.ejs")%>
