<%- include("partials/header.ejs") %>

<h1 class="title">Posts</h1>
<hr />
<div class="posts">
 <% console.log(locals.posted);
 
 for(const [title, post] of Object.entries(posted)){
  if(title!="_locals"){
  %>
  <li>
    <a href="viewPosts"></a>
    <%= title %>
    </li>
 <%}}%>
 
 %>
  

  <br />

  <%-include("partials/footer.ejs") %>
</div>
