<%- include("partials/header.ejs") %>

<h1 class="title">Posts</h1>
<hr />
<div class="posts">
  <% if(locals.posted){ console.log(locals.posted); for(const [title, post] of
  Object.entries(posted)){ if(title!="_locals"){ %>
  <ul>
    <li>
      <form action="/viewPosts" method="post">
        <button class="aref" type="submit" name="<%=title%>">
        <%=title%>
          
        
          </button>
      </form>
    </li>
  </ul>
  <%}}} else{ console.log("noinput"); }%>

  <br />
</div>

<%-include("partials/footer.ejs") %>
