body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.heading {
  font-size: 3rem;
}
* {
  margin-top: 0.4rem;
  margin-left: 0.4rem;
}
footer {
  margin-top: 2rem;
  font-size: 0.6rem;
}
.contact {
  width: 250px;
  height: 150px;
  background-color: aqua;
}
.contact img {
  width: 100px;
  border-radius: 50%;
}
