<%- include("partials/header.ejs") %>

<main>
    <%  if(locals.content){buttonValue="+Add";
    postType="/add";
    %>
        <%-include("partials/card.ejs")%>
        <%}%>
    
</main>
<%- include("partials/footer.ejs") %>