<%- include("partials/header.ejs") %>

<main>
    <% if(locals.content){
        buttonValue="-Remove";
        postType="/remove";
        color="#D52429";
        %>
        <%- include("partials/card.ejs")%>
        <%}%>
    
</main>
<%- include("partials/footer.ejs") %>